<div id="meme-feed">
    <h1>Meme Feed</h1>
    <div id="memes">
        {{#each memes}}
        <div class="meme">
            <a href="#/memes/details?id={{_id}}" class="meme-title">{{title}}</a>
            <br>
            <a href="#/memes/details?id={{_id}}"><img class="meme-image" src="{{imageUrl}}"></a>
            <div class="info">
                <div id="data-buttons">
                    <a href="#/memes/details?id={{_id}}" class="custom-button">Check Out</a>
                    {{#if mine}}
                    <a href="#/memes/edit?id={{_id}}" class="custom-button">Edit</a>
                    <a href="#/memes/delete?id={{_id}}" class="custom-button">Delete</a>
                    {{/if}}
                    <a href="#/users/profile?id={{creatorId}}" class="creator">Creator: {{creator}}</a>
                </div>
            </div>
            <hr>
        </div>
        {{else}}
        <p class="no-memes">No memes in database.</p>
        {{/each}}
    </div>
</div>